<div class="main">
<div class="notes">
    <!-- <span id="fwd"> > </span> -->
    <img src="./assets/sidenavbar/arrow-fr.svg" class="arrow-fr" >
<nav>
    <ul>
        <li><a >Notes&nbsp;&nbsp;{{counts}}</a></li>
        <li><a>Quick Links&nbsp;&nbsp;{{counts}}</a></li>
    </ul>
</nav>
<div class="des"></div><br>
<div class="des1" ></div><br>
<div class="des"></div><br>
<div class="des2"></div><br>
<div class="des1" ></div><br>
<div class="des2"></div><br>
<div class="des1" ></div><br>
<div class="des1" ></div><br>
</div>
</div>