.main{
    display: flex;
}
.container-right{
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.navbar{
position: absolute;
top:5px;
left:0px;
}
.left-section{
    position: absolute;
    top:150px;
    left:2px;

}
.right-section{
    position: fixed;
    top:150px;
    left:800px;

}

