.main{
    display: flex;
    width: 100%;
}
.container-down{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* z-index: -1; */
}
.container-up{
    /* z-index: 1; */

}
.navbar{
    position: absolute;
    top:5px;
    left:0px;
}
.left-section{
    position: absolute;
    top:132px;    
    display: flex;
    border-left: 4px solid rgb(216, 218, 221);
    border-right: 4px solid #d9d9f9 ;
}
.right-section{
    position: fixed;
    top:132px;
    left:775px;
}
.info{
    border: 1px solid red;
}
.app-overall{
    width: 700px;
    position: absolute;
    top:132px;    
    display: flex;
    border-left: 4px solid rgb(216, 218, 221);
    border-right: 4px solid #d9d9f9 ;
    overflow: scroll;
    height: 79.9vh;
}
.app-profile-form{
    width: 700px;
    position: absolute;
    top:132px;    
    display: flex;
    border-left: 4px solid rgb(216, 218, 221);
    border-right: 4px solid #d9d9f9 ;
    overflow: scroll;
    height: 79.9vh;

}