.container{
    display: flex;
    width: 370px;
    justify-content: space-between;
    background-color:#F7F6FF ;
    padding: 5px;
    border-radius: 5px ;
}
.child1,.child2{
    display: flex;
}
.lang{
    border:none;
    padding: 4px;
    border:1px solid white;
    border-radius: 5px;
    width: 70px;
    margin-left: 10px;
} 
.login{
    background-color:#F7F6FF ;
    border:1px solid white;
    padding: 3px;
    border-radius: 5px;
    width: 100px;
}
.image{
    margin: 0px 30px;
}
select{
    color:#544AD8;
    font-size: 13px;
    font-weight: bold;
    background-color:#F7F6FF ;
}
.username{
    margin-right: 10px;

}
.lang:focus , .login:focus{
    outline: none;
    border: 1px solid white;
}