.main{
    display: flex;
    position: relative; 
    justify-content: baseline; 
}
.child2{
    position: fixed;
    left:980px;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
}
.info{
    position: absolute;
    right: 170px;
    top:20px;
}