/* 
.status{
    position: relative;
   bottom: 40px;
    left:700px;
}
.info{
    position: relative;
    bottom: 20px;
} */

.main{
    display: grid;
    grid-template-columns: 680px 500px;
    justify-content:space-between ;
   
}
