/* .main{
    display: flex;
    justify-content: baseline; 
}
.child2{
    position: fixed;
    left:980px;
}
.container{
    display: flex;
    flex-direction: column;
}
.info{
    position: absolute;
    right: 170px;
    top:20px;
} */
.container{
    background-color: white;
    padding: 10px 20px;
}
.main{
    display: flex;
    z-index: 1;
}
.shade{
    background-color: rgb(118, 117, 117);
    width: 1135px;
    left: 50px;
    height: 5px;
    position: relative;
    bottom: 5px;
    z-index: -1;
    filter: blur(3px);
}
