*{
    margin: 0;
    padding: 0;
}
.overview{
    position: relative;
}
.form-profile{
    margin-top: 40px;
}
.topleft{
    position: absolute; 
    bottom: 5px;
    left:50%;
}
.btn-save, .btn-cancel{
    border: none;
    border-radius:5px;
    padding: 2px;
    background-color:blue;
    width: 60px;
    color: white;
}
.btn-cancel{
    background-color: rgb(170, 170, 187);
    margin: 30px 10px 0px 10px;
    
}
.container-profile,.container-phone,.container-address,.container-Rep{
    background-color:#f5f7fa;
    width:90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(10px,32.5%) minmax(10px,32.5%) minmax(10px,32.5%);
    gap: 10px;
    padding: 15px;
}
.address-radio{
    width:90%;
    margin: 0 auto;
    padding: 20px;
    background-color:#f5f7fa;
}
.form-group-pr select, .form-group-pr input ,.form-group-ph input ,.form-group-ph select,
.form-group-addr input,.form-group-addr textarea ,.form-group-addr select, .container-Rep input{
    border: none;
    border: 1px solid #c6c3e7;;
    border-radius:5px ;
    padding: 7px;
}
.form-group-pr,.form-group-addr{
    display: flex;
    flex-direction: column;    
}
.form-group-ph select{
    width: 24%;   
    margin-top: 20px;
}
.form-group-ph input{
    width: 70%;margin-left: 10px ;
}
h5{
    margin-left: 80px;
}

@media screen and (max-width:650px){
    .container-profile,.form-group-ph,.container-phone, .container-address{
        background-color:#f5f7fa;
        width:90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: minmax(10px,1fr);
    }
    .form-group-ph select,.form-group-ph label{
        width: 200px;
       
    }
    .form-group-ph input{
        display: grid;
        grid-template-columns: minmax(10px,1fr);
        transform: translateX(-10px);
    }
    h5{
        margin-left: 20px;
    }   
}