.main{
    display: flex;
    align-items: baseline;
}
.title{
    font-size: 15px;
    font-weight: 600;
    margin-right: 5px;
  } 
  .inp{
    padding: 6px;
    border-radius: 4px;
    border:1px solid  #c6c3e7;
    width:264px;
  }
  .retr,.send{
    padding: 6px;
    background-color: #544AD8;
    border: none;
    border-radius: 4px;
    width:127px;
    color: white;
    margin-left: 10px;
}
    .send{
    width:117px;
    margin-left: 15px; 
}

