
<section>
    <article >
        <div class="">
            <p>Air Canada Knowledge Base</p>

            <div class="base">
                <img src="./assets/leftsection/search.svg" class="shift search">
                <input type="text" class="inp" placeholder="Type your question here">
                <button type="button" class="btn">Search</button>
                <img src="./assets/leftsection/vdot.svg" class="shift v3">
            </div>
            <!-- <div *ngIf="true" class="">
                <app-overall-profile class="overall"></app-overall-profile>
            </div> -->

        </div>
    </article>
</section>
