*{
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    width:620px;
    height: 79.9vh;
}
article{
    position: absolute;
    top:80px;
    left:70px;
    text-align: center;
}
.base{
    display: grid;
    grid-template-columns:minmax(10px ,auto) minmax(230px ,auto) minmax(100px ,auto) minmax(10px ,auto);
    column-gap: 20px;
    padding:15px;
    border: 1px solid rgba(222, 204, 238,0.3);
    box-shadow: 1px 1px 2px rgb(203, 203, 231);
    border-radius: 5px;
    position: relative;
}
.inp{
    border:none;
    /* border: 2px solid rgb(241, 3, 3); */
}
.inp:focus{
    outline: none;
}
input::placeholder{
    color: #8597ac;
    font-weight: 500;
    padding-left: 10px;
}
.btn{
    padding: 4px;
    background-color:#544AD8 ;
    border-radius: 5px;
    width:70px;
    color: white;
    font-family: Verdana;
    font-size: smaller;
    margin-left: 50px;    
}
p{
    color:#544AD8 ;
    font-family:Tahoma;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.shift{
    margin-top: 8px;
}
.search{
    margin-left: 10px;
}
.overall{
    position: relative;
    width:620px;
    height: 79.9vh;
    background-color: aqua;
    bottom: 70px;
    right: 30px;
}