.ulist{
    display: block;
    transform: translateX(-25px);
}
.ulist li{
    padding: 10px;
}
li a{
    color: white;
    text-decoration: none;
}
.lis{
    background-color: #655cdc;
    padding: 11px;
    border-radius: 8px;
}
.arrow-r , .arrow-fr{
    margin-left: 8px;
    background-color:#423ab4;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top :520px;  
}
.r-logo{
    margin-top:5px;
    margin-left: 14px;
    }
    .side div span{
    color: white;  
    margin-top: 20px;  
    }
.side{
    background-color:   #544AD8;
    width: 220px;
    min-height  : 100vh;
}
.ulist li:nth-child(4){
    position: absolute;
    top:430px;
}
.whole{
    background-color: #544AD8;
    width   : 70px;
    min-height  : 100vh;
}           
.arrow-r{
    position: absolute;
    top :520px;
    left:200px;
    }
.fr-show,.r-hide{
    display: inline-block;
    }
.r-show,.fr-hide,.hide{
    display: none;
    }
.rozie{
    font-size:25px;
    font-weight: 500;
    font-family: sans-serif;
   }