<div class="main">
    <app-overview class="overview"></app-overview>
    <div class="">
        <h2>Profile</h2>
        <div class="profile">
            <p>Aeroplan Number  : <br>{{customerInfo.id}}</p>
            <p>Mobile Number    : <br>{{customerInfo.ph_no}}</p>
            <p>Language Preference :<br>{{customerInfo.Lang_Pref}}</p>
            <p>Home Number      : </p>
            <p>Business Number  : </p>
            <p>Date of Birth    : <br>{{customerInfo.DOB}}</p>
            <p>Gender Male      : <br>{{customerInfo.Gender}}</p>
            <p>IVR PIn Status   : <br>{{customerInfo.IVR_pin_Sts}}</p>
            <p>Address          : <br>{{customerInfo.Address}}</p>
        </div>
        <!-- <p>Details : {{profileDetails.profile.title}} </p> -->
    </div>
     <!-- <div class="">
        Profile
        <span>{{customerInfo.name}}</span>

    </div> -->
 
        
    
    <!-- <div class="">
        Member Status
    </div>
    <div class="">
        Family Sharing
    </div>
    <div class="">
        Credit Card
    </div>
    <div class="">
        Balance
    </div>
    <div class="">
        Representatives
    </div> -->
</div>