.information{
    display: grid;
    grid-template-columns: repeat(4,minmax(100px,350px)) ;
     background-color:rgb(245,247,250);
     border-radius: 5px;
     padding: 20px;
}
.information p{
    color:  #475258;
    border-right: 1px solid  #d0d4d6;
    padding: 10px 0px 0px 25px;
    font-weight: 500;
}
.main{
    width: 95%;
    margin: auto;
    resize: horizontal;
    overflow: hidden;
}
div span{
    font-weight: 500;
    color: #475258;
}
.title{
    display: flex;
   margin: 10px 0px;
}
.credit-container .information {
    display: flex;
    gap:20px;
    }

