.profile{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(245,247,250);
    margin: 10px;
}
.profile p{
    margin: 10px;
    /* background-color: rgb(175, 175, 230); */
    width: 180px;
}

