*{
    margin: 0px;
    padding: 0px;
}
.main{
    /* margin-top: 10px; */
    display: flex;
    column-gap: 5px;  
}
.info{
    font-size: small;
    display: flex;
    padding: 0px 0px 15px 0px;
}
#email{
    border-right: 1px solid gray;
}
#mobile,#email{
    border-left: 1px solid gray;
}
.padd{
    padding: 0px 20px;
    text-align: center;
}
.right-info{
    display: flex;
    flex-direction: column;
}
.pr_i{
    margin-right: 5px;
    background-color: rgba(222, 231, 235, 0.6);
    border-radius: 50%;
    width: 50px;
    padding:10px 15px 15px 17px;
    margin-top:3px;
}
.pr_i_auth{
    background-color: #544AD8;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    padding: 12px;
    margin:3px 5px 0px 0px;
   }
.right-info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.viewbtn{
    border: none;
    background-color: white;
    font-size: small;
    border-left:1px solid #475258;
    padding:0px 20px ;
}
.viewbtn:hover{
 background-color: #edecf3;
}
.viewbtn a{
    text-decoration: none;
    color: rgb(95, 95, 104);
}
.info div span{
    color: #475258;
    font-weight: 500;
}