.main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 300px;
    /* gap: 15px; */
}
.image{
    grid-row:1/3 ;
  margin-right: 10px;
   }
.info{
    font-size: small;
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(5,180px);
    gap: 10px;
    /* margin-right: 40px; */
}
#email{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
}
#mobile{
     border-left: 1px solid gray;
     text-align: center;
}
.customername{
    /* margin-left: 40px; */
}
.pr_i{
    padding: 16px;
    background-color: rgba(222, 231, 235, 0.6);
    border-radius: 50%;
}
.pr_i_auth{
    padding: 16px;
    background-color: #544AD8;
    border-radius: 50%;   
}
.viewbtn{
    border: none;
    color: rgb(164, 164, 194);
    background-color: white;
    font-size: small;
}
.viewbtn:hover{
 background-color: #edecf3;
}
.viewbtn a{
    text-decoration: none;
}